h1, h2, section {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  h1 {
    font-weight: 300;
    font-size: 2rem;
  }
  
  section > img {
    height: 128px;
  }
  
  section:nth-of-type(odd) > img {
    float: left;
    margin: 0 24px 24px 0;
  }
  
  
  section:nth-of-type(even) > img {
    float: right;
    margin: -24px 0 24px 24px;
  }
  
  section {
    border-top: 1px solid #bbb;
  }