main,{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: flex;
    border: 3px solid black;
}
label{
    font-size: x-large;
}
.comment{
    height: 7em;
    box-sizing: border-box;
    text-align: start;
    resize: none;
}
.submit{
    border: none;
}